
<div class ="hero-unit extratop msides2">
	<p> Welcome to the SF Urban Film Fest!</p>
	<p> From November 6th to 9th, at SPUR in San Francisco, we will be holding the first annual SF Urban Film Fest--a film festival focused on Urban Planning and Design.</p>
	<p> Here at SF Urban Film Fest, we are passionate about everything that is cities and making them better.  Our offices are not simply in San Francisco, they are San Francisco.  We have been jumping around town, meeting at banks, coffee shops, pizzerias and parks to bring urban planning films to those who would not otherwise see them.  The following is a letter from our estemed founder and director.</p>
</div>
	<div class ="hero-unit extratop2 msides yum">
<p>The SF Urban Film Fest is rooted in the belief that good films can inspire civic engagement.  We show films about painful urban histories, visionary planning, and passionate citizens making a difference for their street, neighborhood, or city. </p>

<p>These urban planning stories have inspired the documentary filmmakers whose work we show this weekend.  We hope these stories will inspire you too because urban planning needs you.</p>

<p>The stories abound daily of the many crises San Francisco faces - housing, transportation, open space, public education, sea-level rise, natural disasters, and income inequality to name a few.  It will take all of us, not just urban planners, to tackle these problems.  We hope SF Urban Film Fest will ignite our collective imagination and resolve to create a resilient, just and heart-stoppingly beautiful city. </p>
<p>Fay Darmawi,
</p>
<p>
Founder and Executive Producer 
</p>
</div>
<div class ="hero-unit extratop2 msides2">
<p>As the earth's urban populations skyrocket, we believe it is becoming increasingly necessary to study the dynamics of our cities and learn how to harness the positive aspects and do away with the negative ones.  Thanks for your interest and we look forward to seeing you in November!</p>
</div>
