<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="hero unit msides extratop3">
<p style="font-weight: bold;">Was the first urban planner a photographer? </p>

<p> Although the SF Urban Film Fest maybe the first urban planning film festival, images have always inspired urban planning.  The heart-wrenching photography of Jacob Riis in his seminal book “How The Other Half Lives” chronicled the lives of poor immigrants in the tenements of New York City’s Lower East Side in the early 20th century.  His photographs inspired the Tenement Housing Movement who in turn pushed New York City to enact the nation’s first laws regulating housing conditions.  Visual activism is often over shadowed by discussions of the physical environment, grass-roots organizing, and legislative change in lessons of urban history.  At the SF Urban Film Fest, we bring visual storytelling to the forefront in the creation of our urban future. </p>

</div>



<hr class="msides" style="height:1px;border:none;color:#333;background-color:#333;" />

<div class="hero unit msides extratop2">
<p style="font-weight: bold;">What is an urban planning film festival? </p>

<p> At the SF Urban Film Fest, we screen films showing how the built environment effects society - and vice versa - in cities.  These urban planning films highlight the hard work and commitment of visionary leaders, regular citizens, and government forging change in cities.  The emerging urban planning film genre shares common ground with documentaries from the environmental and global social justice movements.  The most notable of these films is the Academy Award winning An Inconvenient Truth (2006, USA) which utilized the star power of former U.S. Vice President Al Gore and transformed an ivory tower scientific debate into a global popular discourse about climate change.</p>

<p>What differentiates the SF Urban Film Fest from other film festivals is our focus on connecting the themes of the films to campaigns actively being pursued by governmental and non-profit organizations working for change in San Francisco.  We want to prove that a good film can inspire you to join others in making San Francisco a better place to live. </p>

</div>


<hr class="msides" style="height:1px;border:none;color:#333;background-color:#333;" />

<div class="hero unit msides extratop2">
<p style="font-weight: bold;"> SF the hot bed of urban planning filmmaking? </p>

<p> Who knew San Francisco is a hotbed of urban planning inspired filmmaking? The SF Urban Film Fest will feature three days of locally produced documentaries and works-in-progress including Q&A with the filmmakers, Jeremy Ambers of Impossible Light, Ron Blatman of Saving the City, and Dan Goldes and Robert Cortland of 5 Blocks.  Each filmmaker approaches the topic of city-making differently, lyrically like Impossible Light, in contrasts as in Saving the City, and from the ground up as in 5 Blocks.  San Francisco is also the home of the Bay Area Video Coalition (BAVC), a non-profit turning on residents of all ages to storytelling and video production. Learn about BAVC at their booth on Sunday.</p>

</div>


<hr class="msides" style="height:1px;border:none;color:#333;background-color:#333;" />

<div class="hero unit msides extratop2">

<p style="font-weight: bold;">SF Urban Asks Urban Planner/Artist James Rojas: “How do you sustain public engagement in the urban planning process?” </p>

<p style="font-weight: bold;">James: </p>
	<p> “Creativity.  Urban planners need to capture the emotional and experiential aspects of city life in their methods and tools.  Currently, the outreach tools - lists, dots on a map, stakeholder groups - are too abstract.  The creative process on the other hand is one of passion, discovery, and self-satisfaction.  Artists, filmmakers, and writers are driven by the creative process which allows them to imagine, investigate, construct, and reflect. </p>

<p style="font-weight: bold;">SF Urban: </p>
	<p> How does your idea about creativity translate to public participation in urban planning?</p>
 
<p style="font-weight: bold;">James: </p>
	<p> The participant becomes the artist, writer, or filmmaker.  Let the public create narratives about how they experience urban life.  Let them tell stories, visualize their ideal environments, document how they experience the physical world, share their ideas with others, and ultimately have their ideas validated.</p>
 
<p style="font-weight: bold;">SF Urban: </p>
	<p> That kind of work has no end. 
 
<p style="font-weight: bold;">James: </p>
	<p> Exactly. The city is an artist that is always producing new work to solve problems and desires.  </p>

</div>

<div class="fb-comments hero unit msides extratop2" data-href="http://www.sfurbanfilmfest.com/blog" data-width="600" data-numposts="
5" data-colorscheme="light"></div>

