
<div class="container hero-unit extratop3 msides"><p style="font-weight: bold; font-size:small">Contact Us</p>
<p style="font-size:small">
	<div class="row">
   


    <div class="span4">
<a href="http://facebook.com/sfurbanfilmfest"> <%= image_tag("facebook.jpg", alt: "fb")%> </a>
	</div>
 <div class="span4">
 	<a style="font-size:small" href="mailto:sfurbanfilmfest@gmail.com"><b><%= image_tag("gmail.jpg", alt: "gm")%></b>
 	</a>
    	</div>
    <div class="span4">
		<a href="http://twitter.com/sfurbanfilmfest"> <%= image_tag("twitter.jpg", alt: "twit")%> </a>
	</div>
</div>
</p>

</div>