
<div class="container-fluid hero-unit extratop3">
	<p style="font-weight: bold; font-size:small">Contact Us</p>
<p style="font-size:small">
	<div class="row-fluid">
		<div class="span2">
		</div>
    <div class="span3">
<a href="https://www.facebook.com/events/1499269766982179/"> <%= image_tag("facebook.jpg", alt: "fb")%> </a>
	</div>
 <div class="span3">
 	<a style="font-size:small" href="mailto:sfurbanfilmfest@gmail.com"><b><%= image_tag("gmail.jpg", alt: "gm")%></b>
 	</a>
    	</div>
    <div class="span3">
		<a href="http://twitter.com/sfurbanfilmfest"> <%= image_tag("twitter.jpg", alt: "twit")%> </a>
	</div>
</div>
</p>

</div>