<div class="extratop3">
</div>

<div id="myCarousel" class="carousel fade"> 
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <a href=""> 
                <%= image_tag("fp.jpg", alt: "0")%>
            </a>
        </div>
        <div class="item">
            <a href=""> 
                <%= image_tag("fp2.jpg", alt: "1")%>
            </a>
        </div>
        <div class="item">
            <a href=""> 
                <%= image_tag("fp3.jpg", alt: "2")%>
            </a>
        </div>
        <div class="item">
            <a href=""> 
                <%= image_tag("fp4.jpg", alt: "3")%>
            </a>
        </div>
    </div>

    </div>
<script>
$(document).ready(function() {
  $('.carousel').carousel();
  $('.carousel').on('slid', function() {
    var to_slide = $('.carousel-inner .item.active').attr('id');
    $('.carousel-indicators').children().removeClass('active');
    $('.carousel-indicators [data-slide-to=' + to_slide + ']').addClass('active');
  });
});
</script>

<div class ="hero-unit msides">
    <p style="font-weight: bold;font-size:large"> November 6th - 9th, 2014
    <style="font-weight: bold;font-size:large;" class="pull-right"> SPUR</p>
</div>

<div class ="hero-unit extratop2 msides2">
    <p style="font-size:small"> Welcome to the <b>SF Urban Film Fest</b> – a film festival focused on <b>URBAN PLANNING</b>, <b>CIVIC ENGAGEMENT</b>, and <b>FILM</b>. </p>
 
<p style="font-size:small">The goals of the SF Urban Film Fest are to educate the general public on urban planning approaches to urban design problems and questions of social equity and to inspire civic engagement through the most dynamic of visual media, film and video. Come join us for four days of film, filmmaker/urban planner panels, and a Friday night party celebrating our hopes and dreams for dynamic cities, including our own, San Francisco.</p>
</div>

<div class="row-fluid msides3">
    <div class="span1">
</div>
    <div class="span5">
<div class="hero-unit">
		
		<p style="font-size:small">SF Urban Film Fest will take place from <b>November 6th to 9th at SPUR</b>, San Francisco Planning and Urban Research, located at <b>654 Mission St, San Francisco.</b>
        </p>
      
		
</div>
</div>

	<div class="span5">
	<div class="hero-unit">
		<p style="font-size:small">	
		<a href="/tickets">Tickets</a> will be <b>$22 for a day pass on Saturday and Sunday</b>, and <b>$25 </b> for the Friday night kickoff party, <b> The Fest at the Film Fest </b>.
        </p>
		</div>
    </div>
    <div class="span1">
</div>
</div>
<hr style="height:1px;border:none;color:#333;background-color:#333;" />

    <div class ="hero-unit extratop2 msides">
<p style="font-size:small"><i>The SF Urban Film Fest is rooted in the belief that good films can inspire civic engagement.  We show films about painful urban histories, visionary planning, and passionate citizens making a difference for their street, neighborhood, or city.</i> </p>

<p style="font-size:small"><i>These urban planning stories have inspired the documentary filmmakers whose work we show this weekend.  We hope these stories will inspire you too because urban planning needs you.</i></p>

<p style="font-size:small"><i>The stories abound daily of the many crises San Francisco faces - housing, transportation, open space, public education, sea-level rise, natural disasters, and income inequality to name a few.  It will take all of us, not just urban planners, to tackle these problems.  We hope SF Urban Film Fest will ignite our collective imagination and resolve to create a resilient, just and heart-stoppingly beautiful city. </i></p>
<p style="font-size:small"><i>Fay Darmawi,</i>
</p>
<p style="font-size:small">
<i>Founder and Executive Producer </i>
</p>
</div>
<div class ="hero-unit extratop2 msides2">
<p style="font-size:small">We want to thank Charles Long and Lydia Tan for underwriting the event and believing in us. We also want to acknowledge SPUR as our generous host.</p>
</div>

    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
</div>
</div>


