<div class="extratop3">
</div>

<div id="myCarousel" class="carousel fade"> 
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <a href=""> 
                <%= image_tag("fp.jpg", alt: "0")%>
            </a>
        </div>
        <div class="item">
            <a href=""> 
                <%= image_tag("fp2.jpg", alt: "1")%>
            </a>
        </div>
        <div class="item">
            <a href=""> 
                <%= image_tag("fp3.jpg", alt: "2")%>
            </a>
        </div>
        <div class="item">
            <a href=""> 
                <%= image_tag("fp4.jpg", alt: "3")%>
            </a>
        </div>
    </div>

    </div>
<script>
$(document).ready(function() {
  $('.carousel').carousel();
  $('.carousel').on('slid', function() {
    var to_slide = $('.carousel-inner .item.active').attr('id');
    $('.carousel-indicators').children().removeClass('active');
    $('.carousel-indicators [data-slide-to=' + to_slide + ']').addClass('active');
  });
});
</script>

<div class="row msides3">
    <div class="span7">
<div class="hero-unit">
		
		<p style="font-size:small">SF Urban Film Fest will take place from <b>November 6th to 9th at SPUR</b>, San Francisco Planning and Urban Research, located at <b>654 Mission St, San Francisco.</b>
        </p>
      
		
</div>
</div>
<div class="span1">
</div>
	<div class="span7">
	<div class="hero-unit">
		<p style="font-size:small">	
		<a href="/tickets">Tickets</a> are <b>$22 for a day pass on Saturday and Sunday</b>, and $25 dollars for the Friday night kickoff party.
        </p>
    

		</div>
    </div>
</div>
<hr style="height:1px;border:none;color:#333;background-color:#333;" />


<div class ="hero-unit extratop msides2">
    <p style="font-size:small"> Welcome to the SF Urban Film Fest!</p>
    <p style="font-size:small"> This is the first annual SF Urban Film Fest--a film festival focused on Urban Planning and Design.</p>
    <p style="font-size:small"> The goal of the SF Urban Film Fest is to educate the general public on urban planning approaches to urban design problems and questions of social justice to inspire civic engagement through the most dynamic of visual media, film and video.</p>
</div>
    <div class ="hero-unit extratop2 msides yum">
<p style="font-size:small">The SF Urban Film Fest is rooted in the belief that good films can inspire civic engagement.  We show films about painful urban histories, visionary planning, and passionate citizens making a difference for their street, neighborhood, or city. </p>

<p style="font-size:small">These urban planning stories have inspired the documentary filmmakers whose work we show this weekend.  We hope these stories will inspire you too because urban planning needs you.</p>

<p style="font-size:small">The stories abound daily of the many crises San Francisco faces - housing, transportation, open space, public education, sea-level rise, natural disasters, and income inequality to name a few.  It will take all of us, not just urban planners, to tackle these problems.  We hope SF Urban Film Fest will ignite our collective imagination and resolve to create a resilient, just and heart-stoppingly beautiful city. </p>
<p style="font-size:small">Fay Darmawi,
</p>
<p style="font-size:small">
Founder and Executive Producer 
</p>
</div>
<div class ="hero-unit extratop2 msides2">
<p style="font-size:small">As the earth's urban populations skyrocket, we believe it is becoming increasingly necessary to study the dynamics of our cities and learn how to harness the positive aspects and do away with the negative ones.  Thanks for your interest and we look forward to seeing you in November!</p>
</div>

    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
</div>
</div>


