<div class="hero-unit msides2 extratop3">
        
        <p style="font-weight: bold;">We can't show all of the films we found, so we put together a list of resources that you can use on your own. </p>
        <p style="font-size: small">The urban planning films and videos are categorized as short form documentaries, long form documentaries, works in progress, or cinematic urbanism. </p>
        <iframe src="https://docs.google.com/spreadsheets/d/1ddRnWvpnazxVfvhqTOMMuNgZHSQuqZw5g3g5LVBNasc/pubhtml?widget=true&amp;headers=false" height="1380" width="1000"></iframe>
 </div>
        

