
<div class="row msides3 extratop3">
    <div class="span7">
<div class="hero-unit">
	
        <p style="font-weight: bold;color:maroon;">	
		THURSDAY, November 6
        </p>
          <p style="font-weight: bold;font-size:small">
        Professional Development </p>

	<p style="font-weight: bold;">Theater - 2nd FL: 7:00 to 8:30pm</p>
		<p style="font-weight: bold;font-size:small">PANEL: New Tools to Re-Invent Civic Engagement </p>
		<p style="font-weight: bold;font-size:small">Moderators: Jane Lin and Heidi Sokolowsky, Urban Field Studio </p>


<p style="font-size:small">Despite the major effort going into the public process, most ideas and “visions” are quickly forgotten and never become a reality. Given the technology available to us, what are our options? Come join a planner, documentary filmmaker, a workshop artist, and a user experience designer to discuss possibilities and new tools to re-invent civic engagement. </p>

<p style="font-weight: bold;">
Theatre - 2nd FL: 4:30 to 6:00 pm
</p>
<p style="font-weight: bold;font-size:small">	WORKSHOP: Storytelling Bootcamp for Planners </p>
  <p style="font-weight: bold;font-size:small">Co-Instructors : Keith Battle, Independent Media Maker /BAVC Writing Instructor and Omar Masry, practicing urban planner </p>

		<p style="font-size:small"> A professional development unit for planners, architects, developers, activists, and filmmakers interested in using storytelling to enhance civic engagement.  Storytelling basics are introduced then participants will apply newly learned storytelling skills to real life projects. </p>
</div>
<DIV ID="bpt_remaining_828834"></DIV> <script src="http://www.brownpapertickets.com/buywidget/828834" type="text/javascript" language="javascript"></script>
</div>
<div class="span1">
</div>
	<div class="span7">
	<div class="hero-unit">
		<p style="font-weight: bold;color:purple;">	
		FRIDAY, November 7
        </p>
        <p style="font-weight: bold;font-size:small">
        Film and Fest for Civic Engagement</p>

	<p style="font-weight: bold;">Ground Floor: 6:30 to 7:30 pm</p>
  <p style="font-weight: bold;font-size:small">FEST</p>

    <p style="font-size:small">Premiere: Urban Planning Shorts Infinite Loop Films </p>
<p style="font-weight: bold;">Theater - 2nd FL: 7:30 - 9:00 pm </p>
<p style="font-weight: bold;font-size:small">FILM</p>
<p style="font-size:small;font-weight: bold;font-style:italic;">a Co-Presentation with the Bay Area Video Coalition</p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">"Impossible Light" (2013; 70 minutes) </p> <p style="font-size:small">- full length documentary about the San Francisco Bay Bridge Lights sculpture which was realized in an impossible timeframe of two years. 	</p>
<p style="font-weight: bold;font-size:small">Q and A (15 min)</p>
<p style="font-size:small">Jeremy Ambers, Filmmaker</p>
<p style="font-size:small">Ben Davis, Visionary behind The Bay Lights and CEO & Founder of Illuminate the Arts </p>

	<p style="font-weight: bold;">Ground Floor: 9:00 to 11 pm </p>
		<p style="font-weight: bold;font-size:small">Opening Night Fest:</p>
		<p style="font-size:small">- The Continuous Loop Films Lounge/ Reverse Silent Disco</p>
		<p style="font-size:small">- DJ </p>
		<p style="font-size:small">- Complimentary Cocktails 
    </p>

		</div>
    </div>
</div>

<div class="row msides3 extratop2">
    <div class="span7">
<div class="hero-unit">
		<p style="font-weight: bold;color:darkblue;">	
		SATURDAY, November 8
        </p>
        <p style="font-weight: bold;font-size:small">
        Urban Planning As A Design Problem </p>

	<p style="font-weight: bold;">Ground Floor: 12:00 to 5:00 pm</p>
  <p style="font-weight: bold;font-size:small">Film Loop/Booths</p>

    <p style="font-size:small">The Continuous Loop Films Lounge/Reverse Silent Disco </p>
    <p style="font-size:small">- Booths: </p>
		
	<p style="font-size:small">SF Bike Coalition - “Connecting Cities/Stephanie’s Story” Videos </p> 
			<p style="font-size:small">SFPUC - The Sexy Save Water Campaign Videos </p>

<p style="font-weight: bold;">Theater - 2nd FL: 1:00 pm  </p>
<p style="font-weight: bold;font-size:small">FILMS</p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">Premiere of “Bikes On Business” (5 min short), commissioned by the San Francisco Bicycle Coalition </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Every Speed” (7 min short) </p>
 <p style="font-size:small;"> Atmospheric and experiential exploration of able and disabled bodies moving through urban spaces and negotiating transport options. </p>
  <p style="font-size:small;font-weight: bold;font-style:italic;">“Rock the Boat” (2011; 54 minutes)</p>
  <p style="font-size:small">- full length documentary about citizens reclaiming the Los Angeles River </p>

  <p style="font-weight: bold;">Theater - 2nd FL: 3:00 pm  </p>
  <p style="font-weight: bold;font-size:small">FILMS</p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Plan of the City” (15 min short)  </p>
 <p style="font-size:small">- - A classical ensemble blasts around in an urban universe to upbeat tunes. Perhaps the first ur-ban planning music video.  </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Urbanized” (2011, 84 minutes)</p>
  <p style="font-size:small">- - full length documentary about 		
	innovative urban design in Columbia, Germany, and two other countries. </p>

  <p style="font-weight: bold;">Theater - 2ND FL: 5:00 pm  </p>
  <p style="font-weight: bold;font-size:small">FILM</p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Saving the City “</p>
  <p style="font-size:small">- 20 minute work in progress includes segment on Mission Bay and Vancouver. </p>

  <p style="font-weight: bold;">Theater - 2nd FL: 5:30 - 6:30 pm </p>
  <p style="font-weight: bold;font-size:small">PANEL</p>
 <p style="font-size:small;font-weight: bold;">Panel on Mission Bay - How Can Storytelling Shape the Identity of a New Neighborhood? </p>
  <p style="font-size:small">- Ron Blatman, Executive Producer and Director,  			of <i><b> "Saving the City"</i></b> </p>
    <p style="font-size:small">- JK Dineen, Reporter, <i>SF Chronicle </i></p>
		</div>
</div>
<div class="span1">
</div>
	<div class="span7">
	<div class="hero-unit">
		<p style="font-weight: bold;color:darkgreen">	
		SUNDAY, November 9
        </p>
        <p style="font-size:small">
        <b>Urban Planning As A Search for Social Equity </b>
 </p>

	<p style="font-weight: bold;">Ground Floor: 12:00 - 5:00 pm </p>
  <p style="font-weight: bold;font-size:small">Film Loop/Booths</p>

    <p style="font-size:small">The Continuous Loop Films Lounge/Reverse Silent Disco </p>
    <p style="font-size:small">- Booths: </p>
		
	<p style="font-size:small">Walk SF</p> 
			<p style="font-size:small">Bay Area Video Coalition (BAVC) </p>

<p style="font-weight: bold;">Theater - 2nd FL: 1:00 pm  </p>
<p style="font-weight: bold;font-size:small">FILMS</p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Walk At Her Own Risk” (10 min short), commissioned by Walk SF </p>
 <p style="font-size:small">- story of a young woman reconstructing her life after a recent pedestrian collision in SF</p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">"The Pruitt - Igoe Myth” (2011; 79 min) </p>
 <p style="font-size:small">- full length documentary about the people who created community in an inhospitable public housing project in St. Louis, MO. </p>

  

  <p style="font-weight: bold;">Theater - 2nd FL: 3:00 pm  </p>
  <p style="font-weight: bold;font-size:small">FILM</p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Neighborhoods: The Hidden Cities of San Francisco: The Fillmore” (1999, 84 minutes)</p>

  <p style="font-size:small"> - Part of a PBS series on neighborhoods, this segment tells the story of San Francisco’s premiere Japanese-American and African-American communities and the profound impact urban renewal  had on the fabric of American cities. </p>

  <p style="font-weight: bold;">Theater - 2nd FL: 5:00 pm  </p>
  <p style="font-weight: bold;font-size:small">PANEL/FILM</p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">"5 Blocks” (8 min)</p>
  <p style="font-size:small"> - A work-in-progress tracking the radical changes in the 5 Block area of Mid-Market since prior to the recent tech-boom to the present. </p>

 <p style="font-size:small;font-weight: bold;">Panel on Mid-Market: How Do You Tell A Story of Neighborhood Change? </p>
  <p style="font-size:small">- Dan Goldes and Robert Cortlandt, <i><b>"5 Blocks"</i></b>  Filmmakers</p>
    <p style="font-size:small">- Peter L. Stein, <i><b>"The Fillmore,"</i></b> Filmmaker</p>
      <p style="font-size:small">- Gary Kamiya, Executive Editor, <i>San Francisco Magazine</i></p>
            <p style="font-size:small">- Amy Cohen, Director, Neighborhood Business Development, Mayor’s Office of 			Economic and Workforce Development</p>
		</div>
    </div>
</div>

<div class="extratop2 msides">
  <link rel="stylesheet" type="text/css" href="http://www.brownpapertickets.com/widget.css" /> <DIV ID="bpt_eventbody"><CENTER><BR><BR>Brown Paper Tickets Ticket Widget Loading...<BR><BR><A HREF="http://www.brownpapertickets.com/event/828834">Click Here</A> to visit the Brown Paper Tickets event page.</CENTER><BR><BR></DIV> <script src="http://www.brownpapertickets.com/eventwidget.js?event=828834&nodescription=1" type="text/javascript" language="javascript"></script> <script src="http://www.brownpapertickets.com/widget.js?event=828834" type="text/javascript" language="javascript"></script>
</div>