<div class="row msides3 extratop3">
    <div class="span7">
<div class="hero-unit">
		
		<p>Thursday
        </p>
        <p>
        There will be a party with a DJ and cocktails, short and long form documentary films, round table and discussion panels, and plenty of invigorating conversation.  Join us!
		
</div>
</div>
<div class="span1">
</div>
	<div class="span7">
	<div class="hero-unit">
		<p style="font-weight: bold;">	
		Friday, November 7, 2014
        </p>
        <p style="font-size:small">
        Film and Fest for Civic Engagement </p>

	<p style="font-weight: bold;">GF: 6:30 to 7:30 pm</p>

    <p style="font-size:small">Premiere: Urban Planning Shorts Infinite Loop Films </p>
<p style="font-weight: bold;">2ND FL: 7:30pm - 9:00 pm </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">Impossible Light (2013; 70 minutes) </p> <p style="font-size:small">- full length documentary about the San Francisco Bay Bridge Lights sculpture which was realized in an impossible timeframe of two years. 	</p>
<p style="font-size:small">Q and A with Filmmaker and Bay Lights Project Producer (15 min)</p>
<p style="font-size:small">Jeremy Ambers, Filmmaker</p>
<p style="font-size:small">Ben Davis, Founder, Illuminate the Arts </p>

	<p style="font-weight: bold;">GF: 9:00 - 11pm </p>
		<p style="font-size:small">Fest Opening Night Fest:</p>
		<p style="font-size:small">- The Continuous Loop Films Lounge/ Reverse Silent Disco HeadPhones (25) </p>
		<p style="font-size:small">- DJ </p>
		<p style="font-size:small">- Complimentary Cocktails 
    </p>

		</div>
    </div>
</div>

<div class="row msides3 extratop2">
    <div class="span7">
<div class="hero-unit">
		<p style="font-weight: bold;">	
		Saturday, November 8, 2014
        </p>
        <p style="font-size:small">
        Urban Planning As A Design Problem </p>

	<p style="font-weight: bold;">GF: 1:00 pm to 5:00 pm</p>

    <p style="font-size:small">The Continuous Loop Films Lounge/Reverse Silent Disco </p>
    <p style="font-size:small">- Booths: </p>
		
	<p style="font-size:small">SF Bike Coalition - “Connecting Cities/Stephanie’s Story” Videos </p> 
			<p style="font-size:small">SFPUC - The Sexy Save Water Campaign Videos </p>

<p style="font-weight: bold;">2ND FL: 1:00 pm  </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">Premiere of “Bikes On Business” (5 min short) </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Every Speed” (7 min short) </p>
  <p style="font-size:small;font-weight: bold;font-style:italic;">“Rock the Boat” (2011; 54 minutes)</p>
  <p style="font-size:small">- full length documentary about citizens reclaiming the Los Angeles River  	</p>

  <p style="font-weight: bold;">2ND FL: 3:00 pm  </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Plan of the City” (15 min short)  </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Urbanized” (2011, 84 minutes)</p>
  <p style="font-size:small">- - full length documentary about 		
	innovative urban design in Columbia, Germany, and two other countries. </p>

  <p style="font-weight: bold;">2ND FL: 5:00 pm  </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Saving the City “</p>
  <p style="font-size:small">- 20 minute work in progress includes segment on Mission Bay and Vancouver. </p>

  <p style="font-weight: bold;">2ND FL: 5:30 pm - 6:00 pm </p>
 <p style="font-size:small;font-weight: bold;">Panel on Mission Bay </p>
  <p style="font-size:small">- Ron Blatman, Executive Producer and Director 			of Saving the City</p>
		</div>
</div>
<div class="span1">
</div>
	<div class="span7">
	<div class="hero-unit">
		<p>	
		Sunday
        </p>
        <p>
        All proceeds will go towards continuing this annual film festival and maintaining our website for year round access to a plethora of <a href="/resources">urban planning resources</a> including films, papers and more.
    </p>

		</div>
    </div>
</div>