<div class="row msides3 extratop3">
    <div class="span7">
<div class="hero-unit">
	
        <p style="font-weight: bold;">	
		THURSDAY November 6, 2014
        </p>

	<p style="font-weight: bold;">2nd FL: 7:00 to 8:30pm m</p>
		<p style="font-size:small">New Tools to Re-Invent Civic Engagement </p>
		<p style="font-size:small">Heidi Sokolowsky and Jane Lin of Urban Field Studio </p>

<p style="font-weight: bold;">	Workshop: OFFSITE @ BAVC (BAVC instructor and Omar Masry, practicing urban planner) 
Time: TBD </p>
		<p style="font-size:small">Workshop: Storytelling Boot Camp for Planners~
 		A professional development unit for planners, architects, activists, artists, and filmmakers interested in using storytelling to enhance civic engagement. </p>
</div>
</div>
<div class="span1">
</div>
	<div class="span7">
	<div class="hero-unit">
		<p style="font-weight: bold;">	
		Friday, November 7, 2014
        </p>
        <p style="font-size:small">
        Film and Fest for Civic Engagement </p>

	<p style="font-weight: bold;">GF: 6:30 to 7:30 pm</p>

    <p style="font-size:small">Premiere: Urban Planning Shorts Infinite Loop Films </p>
<p style="font-weight: bold;">2ND FL: 7:30pm - 9:00 pm </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">Impossible Light (2013; 70 minutes) </p> <p style="font-size:small">- full length documentary about the San Francisco Bay Bridge Lights sculpture which was realized in an impossible timeframe of two years. 	</p>
<p style="font-size:small">Q and A with Filmmaker and Bay Lights Project Producer (15 min)</p>
<p style="font-size:small">Jeremy Ambers, Filmmaker</p>
<p style="font-size:small">Ben Davis, Founder, Illuminate the Arts </p>

	<p style="font-weight: bold;">GF: 9:00 - 11pm </p>
		<p style="font-size:small">Fest Opening Night Fest:</p>
		<p style="font-size:small">- The Continuous Loop Films Lounge/ Reverse Silent Disco HeadPhones (25) </p>
		<p style="font-size:small">- DJ </p>
		<p style="font-size:small">- Complimentary Cocktails 
    </p>

		</div>
    </div>
</div>

<div class="row msides3 extratop2">
    <div class="span7">
<div class="hero-unit">
		<p style="font-weight: bold;">	
		Saturday, November 8, 2014
        </p>
        <p style="font-size:small">
        Urban Planning As A Design Problem </p>

	<p style="font-weight: bold;">GF: 1:00 pm to 5:00 pm</p>

    <p style="font-size:small">The Continuous Loop Films Lounge/Reverse Silent Disco </p>
    <p style="font-size:small">- Booths: </p>
		
	<p style="font-size:small">SF Bike Coalition - “Connecting Cities/Stephanie’s Story” Videos </p> 
			<p style="font-size:small">SFPUC - The Sexy Save Water Campaign Videos </p>

<p style="font-weight: bold;">2ND FL: 1:00 pm  </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">Premiere of “Bikes On Business” (5 min short) </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Every Speed” (7 min short) </p>
  <p style="font-size:small;font-weight: bold;font-style:italic;">“Rock the Boat” (2011; 54 minutes)</p>
  <p style="font-size:small">- full length documentary about citizens reclaiming the Los Angeles River  	</p>

  <p style="font-weight: bold;">2ND FL: 3:00 pm  </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Plan of the City” (15 min short)  </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Urbanized” (2011, 84 minutes)</p>
  <p style="font-size:small">- - full length documentary about 		
	innovative urban design in Columbia, Germany, and two other countries. </p>

  <p style="font-weight: bold;">2ND FL: 5:00 pm  </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Saving the City “</p>
  <p style="font-size:small">- 20 minute work in progress includes segment on Mission Bay and Vancouver. </p>

  <p style="font-weight: bold;">2ND FL: 5:30 pm - 6:00 pm </p>
 <p style="font-size:small;font-weight: bold;">Panel on Mission Bay </p>
  <p style="font-size:small">- Ron Blatman, Executive Producer and Director 			of Saving the City</p>
		</div>
</div>
<div class="span1">
</div>
	<div class="span7">
	<div class="hero-unit">
		<p style="font-weight: bold;">	
		Sunday, November 9, 2014
        </p>
        <p style="font-size:small">
        Urban Planning As A Search for Social Equity 
 </p>

	<p style="font-weight: bold;">GF: 1:00 pm to 6:15 pm </p>

    <p style="font-size:small">The Continuous Loop Films Lounge/Reverse Silent Disco </p>
    <p style="font-size:small">- Booths: </p>
		
	<p style="font-size:small">Walk SF</p> 
			<p style="font-size:small">Bay Area Video Coalition (BAVC) </p>

<p style="font-weight: bold;">2ND FL: 1:00 pm  </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Walk At Her Own Risk” (10 min short) </p>
 <p style="font-size:small">- story of a young woman reconstructing her life after a recent pedestrian collision in SF (commissioned by Walk SF)</p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">The Pruitt - Igoe Myth” (2011; 79 min) </p>
 <p style="font-size:small">- full length documentary about the 		people who created community in an inhospitable public housing project in St. 		Louis, MO. </p>

  

  <p style="font-weight: bold;">2ND FL: 3:00 pm  </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“Neighborhoods: The Hidden Cities of San Francisco: The Fillmore” (1999, 84 minutes)</p>

  <p style="font-size:small">- - aired on PBS as part of a series on San Francisco neighborhoods. </p>

  <p style="font-weight: bold;">2ND FL: 5:00 pm  </p>
 <p style="font-size:small;font-weight: bold;font-style:italic;">“5 Blocks” </p>
  <p style="font-size:small">- (8 min) A work-in-progress tracking the radical changes in the 5 Block area of Mid-Market since prior to the recent tech-boom to the present. </p>

  <p style="font-weight: bold;">2ND FL: 5:15 pm - 6:15 pm </p>
 <p style="font-size:small;font-weight: bold;">Panel on Mid-Market: How Do You Tell A Story of Neighborhood Change? </p>
  <p style="font-size:small">- Dan Goldes and Robert Cortland, 5 Blocks,  Filmmakers</p>
    <p style="font-size:small">- Peter L. Stein, The Fillmore, Filmmaker</p>
      <p style="font-size:small">- Gary Kamiya, Executive Editor, San Francisco Magazine</p>
            <p style="font-size:small">- Amy Cohen, Director, Neighborhood Business Development, Mayor’s Office of 			Economic and Workforce Development</p>
		</div>
    </div>
</div>