<div class="navbar navbar-wrapper">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "urban planning {City Stories} film festival", root_path, id: "logo" %>
       </div>
      <div id="reveal">
      <nav>
        <ul class="nav navbar-nav pull-right">
			
			<a href="/" class="roll" id="nav-text">
			<span data-title="Home">Home</span>
			</a>
			<a href="/about" class="roll" id="nav-text">
			<span data-title="About">About</span>
			</a>
			<a href="/team" class="roll" id="nav-text">
			<span data-title="Team">Team</span>
			</a>
			<a href="/schedule" class="roll" id="nav-text">
			<span data-title="Schedule">Schedule</span>
			</a>
        </ul>
      </nav>
   
   </div>
  </div>
</div>